#excluding pycache
__pycache__
#exclusing ide config files
.idea
#excluding venv
venv
#directory
downloads
video_downloads
temp

#files
*.mp3
*.mp4
*.bak
*.exe

#configfile
*.ini

#logfile
log.txt

#todos
TODO.txt
